.notificationContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;
  margin: 8px;
  margin-left: 0px;
  padding-left: 0px;
}

.recentNotifs {
  color: #E5E1E6;
  text-shadow: 3px 3px #BFBFBF;
  font-size: 36px;
  font-weight: 800;
  font-family: "JetBrainsMono";
  padding-left: 8px;
  padding-top: 35px;
}

@media only screen and (max-width: 700px) {
    .notificationContainer{
      margin: 0px;
      padding: 0px;
    }

    .recentNotifs {
      font-size: 18px;
    }
}