.swiper-slide {
  height: 100%;
  margin-left: 75px;
  margin-right: 75px;
} 

.swiper-slide-next {
  height: 100%;
  margin-left: 75px;
  margin-right: 75px;
}
.swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color:aqua;
  opacity: 1;
}