.reg-container{
    margin-right: 50px;
}
.reg-container h2{
    font-family: 'segoeui';
    font-size: 35px;
    font-weight: 700;
    line-height: 44px;
}
.reg-container p{
    font-family: 'segoeui';
    margin: 20px 0px;
    font-size: 24px;
    font-weight: 400;
    line-height: 44px;

}

.reg-input{
    border: none;
    width: 100%;
    color: black;
    padding: 10px 20px;
    margin: 10px 0px;
}

.reg-input:focus{
    outline: none;
}

.reg-textarea{
    height: 100px;
}

.reg-countrycode{
    width: 80px;
    margin-right: 20px;
}

.reg-mobile{
    display: flex;
    width: 100%;
}

.b{
    background-color: rgba(0, 0, 0, 0.18);
}

@media only screen and (max-width: 700px) {
    .reg-container h2{
        font-size: 24px;
    }
    .reg-container{
        margin-right: 10px;
    }
    .reg-container p{
        font-size: 14px;
    }
    .reg-countrycode{
        margin-right: 8px;
        width: 70px;
    }
}
