.gallery-container {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100%;
    max-height: inherit;
}

.imageBG {
    background-image: url('../../../public/assets/Gallery/Gallery_bg.png');
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.gallery-image {
    padding: 10px;
    width: 250px;
}

gallery-image-expanded{
    min-width: 400px;
    height: 400px;
}
.expanded-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.imageBG:hover{
    filter: drop-shadow(0 0 0.75rem rgb(255, 217, 0));
}