/* @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap'); */
.timeline-body{
    font-family: 'JetBrainsMono', monospace;
    font-weight: 800;
    padding: 10px 20px;
}


