.carouselCardContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
}

.carouselCardContainer::-webkit-scrollbar {
    display: none;
}
  
.carouselCardContainer {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonContainer>*{
    margin: 30px;
    width: 300px;
}

/* .swiper-slide {
    width: 80%;

*/
    
.swiper-slide {
    width: 100%;
    margin-left: 80px !important;
    margin-right: 80px !important;
} 

.swiper-slide-next {
    width: 100%;
    margin-left: 75px;
    margin-right: 75px;
}
