.sponsorsElementContainer {
  width: 95%;
  display: flex;
  /* background-color: red; */
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: green; */
  align-items: flex-start;
}

.sponsorCarouselContainer {
  margin: 20px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 3rem;
}

.sponsorIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 1rem;
  /* pad: 2rem !important; */
  width: 210px;
  height: 100px;
  border-radius: 10px;
  padding: 3px;
  /* padding: auto; */
  background-color: white ;
}

.sponsorIcon>a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.onboardingEmail {
  font-family: 'segoeui';
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.sponsorSectionTitle{
  font-family: 'segoeui';
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 1rem;
}

.sponsorEmailInpContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1100px) {
  .onboardingEmail{
    font-size: 25px;
    line-height: unset;
  }

  .sponsorCarouselContainer{
    margin-bottom: 1rem;
  }

  .sponsorIcon{
    margin: unset inherit;
  }
}

@media only screen and (max-width: 700px) {
    .onboardingEmail{
      font-size: 18px;
      line-height: unset;
    }

    .sponsorCarouselContainer{
      margin-bottom: 1rem;
    }

    .sponsorIcon{
      margin: unset inherit;
    }
}

@media only screen and (max-width: 550px){
  .sponsorCarouselContainer{
    display: flex;
    flex-direction: column;
  }

  .sponsorIcon{
    margin-top: 20px;
  }
}